.main_container {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero_section {
  min-height: 750px;
  background-color: #ffc;
}

.flex_box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hero_left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-height: 750px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero_right {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 55%;
  min-height: 750px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../images/clean_dog.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero_text_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  font-family: Curlzmt, sans-serif;
  font-size: 75px;
  line-height: 75px;
  font-weight: 400;
}

.hero_subtitle {
  font-size: 25px;
  line-height: 38px;
  font-weight: 700;
}

.hero_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hero_bottom_left {
  width: 50%;
  height: 56px;
  background-image: url('../images/left_arc.png');
  background-position: 0% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hero_bottom_lright {
  width: 50%;
  height: 56px;
  background-image: url('../images/right_arc.png');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  display: inline-block;
  min-height: 40px;
  min-width: 150px;
  padding: 15px 30px;
  border: 1px solid #f4f5f7;
  border-radius: 40px;
  background-color: #ee3d85;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.intro_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_h2 {
  margin-top: 0px;
  font-family: Curlzmt, sans-serif;
  font-size: 55px;
  line-height: 50px;
  text-align: center;
}

._3_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

._3_block {
  width: 33%;
  padding: 23px;
}

.intro_h4 {
  font-size: 23.5px;
  line-height: 33px;
  text-align: center;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.intro_para {
  font-size: 20px;
  line-height: 36.5px;
  text-align: center;
}

.about_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._2_block_img_1 {
  width: 50%;
  height: 425px;
  background-image: url('../images/liz_grooming.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_h3 {
  margin-top: 0px;
  font-size: 36px;
  line-height: 46px;
}

.paragraph-2 {
  font-size: 22px;
  line-height: 36px;
}

._2_block_ctr_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 65px;
  padding-left: 65px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.featured_services {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ccecff;
}

.team_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials_section {
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #ffe6f1;
}

.blog_section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.img_block {
  height: 400px;
  padding-left: 0px;
  background-image: url('../images/liz_grooming.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.featured_para {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 36.5px;
  font-weight: 400;
  text-align: left;
}

.featured_price {
  font-size: 20px;
  line-height: 36.5px;
  font-weight: 700;
  text-align: left;
}

.white_block {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 45%;
  background-color: #fff;
}

.slider {
  margin-top: 0px;
  background-color: transparent;
}

._3_block_testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.testimonial {
  width: 33.3%;
  margin: 15px;
  padding: 10px;
  background-color: #fff;
}

.testimonial_heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  margin-top: 30px;
}

.tetimonial_img {
  width: 25%;
  padding: 10px;
}

.testimonial_details {
  width: 75%;
  padding: 10px;
}

.image-2 {
  border-radius: 90px;
}

.paragraph-3 {
  padding: 10px;
}

.heading-4 {
  font-size: 20px;
  line-height: 31px;
}

.testimonial_tiny_font {
  font-size: 12px;
}

.testimonial_author {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 31px;
}

.slide-nav {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: 0px;
}

._2_block {
  width: 50%;
  height: 425px;
}

.footer {
  height: 400px;
  padding-top: 50px;
  background-color: #af0657;
  color: #fff;
}

.ftr_info_block {
  width: 27%;
  padding: 10px;
}

.ftr_links_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
}

.ftr_menu_block {
  width: 25%;
  padding: 10px;
}

.footer_container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-4 {
  padding: 0px 35px 0px 0px;
}

.footer_list_item {
  margin-bottom: 23px;
}

.footer_menu_top {
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
}

.footer_h4 {
  margin-top: -1px;
}

.section_mini_header {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.featured_h4 {
  font-size: 23.5px;
  line-height: 33px;
  text-align: left;
}

.button_block {
  margin-right: auto;
  margin-left: 0px;
}

.yellow_circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 90px;
  background-color: #ffc;
}

.blue_circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 90px;
  background-color: #ccecff;
}

.pink_circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 90px;
  background-color: #ffe6f1;
}

.image-3 {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.image-4 {
  width: 70%;
}

.image-5 {
  width: 70%;
}

.button_block_ctr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  background-color: #ffc;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #ffc;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: 100px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 9px;
  color: #444;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  position: static;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Curlzmt, sans-serif;
  color: #ee3d85;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
}

#w-node-21aa373a52b8-3242bad4 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-21aa373a52b8-3242bad4 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Curlzmt';
  src: url('../fonts/CurlzMT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Curlzmt';
  src: url('../fonts/CurlzMT.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}